# main framework
Django>=4.2,<5.0

# postgreSQL driver
psycopg2-binary>=2.9

# 
python-dotenv>=1.0.0

# django extensions (development utilities)
django-extensions>=3.2

# cors (Cross-Origin Resource Sharing) handling (frontend-backend communication)
django-cors-headers>=4.3

# REST API (for api development)
djangorestframework>=3.15

# Pillow (image processing)
Pillow>=10.0